<form method="POST" action="/prehistoric_creatures">
    <label for="prehistoric_creatureType">Type</label>
    <input id="prehistoric_creatureType" type="text" name="type">
  
    <label for="prehistoric_creatureName">Name</label>
    <input id="prehistoric_creatureName" type="text" name="name">
  
    <input type="submit">
  </form>